<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ejemplo</servlet-name>
        <servlet-class>controlador.productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaEmpleados</servlet-name>
        <servlet-class>controlador.BusquedaEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaProductos</servlet-name>
        <servlet-class>controlador.BusquedaProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaProvedores</servlet-name>
        <servlet-class>controlador.BusquedaProvedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleados</servlet-name>
        <servlet-class>controlador.empleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productos</servlet-name>
        <servlet-class>controlador.productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>provedores</servlet-name>
        <servlet-class>controlador.provedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProductos</servlet-name>
        <servlet-class>controlador.ListaProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejemplo</servlet-name>
        <url-pattern>/Ingresodocentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaEmpleados</servlet-name>
        <url-pattern>/BusquedaEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaProductos</servlet-name>
        <url-pattern>/BusquedaProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaProvedores</servlet-name>
        <url-pattern>/BusquedaProvedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleados</servlet-name>
        <url-pattern>/empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productos</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>provedores</servlet-name>
        <url-pattern>/provedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProductos</servlet-name>
        <url-pattern>/ListaProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
